#myCanvas{ 
    background-image:url('../image/splash_level1.jpg');
    border: 5px solid white;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

#Canvas-Container{
    display: auto;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
}

body{
    background-image:url('../image/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#start-container{
    display: auto;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
}

#startBtn {
    padding: 25px 50px;
    display: auto;
    text-align: center;
    margin-top: 70px;
    animation-name: Shake;
    animation-duration: 2s;
    background-color:blue;
    color: white;
    border: 5px solid red;
    font-weight: bold;
}

#startBtn:hover {
    background-color: red;
    border: 5px solid blue;
    color: white;
    animation-name: ShakeHover;
    animation-duration: 1s;
}

@keyframes Shake {
    0% {
        transform: translateX(10px);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes ShakeHover {
    0% {
        transform: translateX(5px);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

#end-container{
    display: auto;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
}

#endBtn {
    padding: 25px 50px;
    display: auto;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

#win-container{
    display: auto;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
}

#winBtn {
    padding: 25px 50px;
    display: auto;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position:absolute;
    left:45%;
    top:45%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



